extends layout
block content
		main
			if(message1)
				h1.card-title.text-center #{message1}
				<br/>
				h3.card-subtitle.mb-2.text-center.text-muted #{message2}
				<br/><hr/><br/>

			h3 Pay Vendors 
				<br/><br/>

				.createsize
					form(name='initiateTransfer', action='/transfer/initiate',method='POST')
						input#amount(type='text', name='amount', placeholder='Amount')
						hr
						input#name(type='text', name='reason', placeholder='Reason')
						hr

						select(name='recipient')
							option Select Vendor
							each val in recipientData
								option(value=val.recipient_code) #{val.details.account_name} - #{val.details.account_number} - #{val.details.bank_name}
						<br/>

						.bttn.pt-2
						button(type='submit') Pay
						
